#pad{padding: 300px 300px 300px 300px}
ul.nav li {
  display: inline-block;
  padding-right: 10px;
  background-color: red;
  color: white;

}

.nav a {
color: white;
}

.color-info {
  border:3px solid black;margin: 100px; width: 600px; padding-left: 100px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;
}
#about_blue{
  background-color: #6495ED
}
#about_yellow{
  background-color: #FFEBCD
}
#about_blue ul li{
  color: blue;

}
#about_yellow ul li{
  color: yellow;
}
. important{
  font-size: 16px;
  font-weight:bold;

}
